<section class="mb-36" id="contacto">
  <h2 class="text-4xl sm:text-5xl 2xl:text-6xl font-bold text-center">
    Trabajemos juntos
  </h2>
  <p
    class="max-w-md m-auto text-sm sm:text-xl 2xl:text-2xl text-center mt-2"
    style="text-wrap: balance"
  >
    No te imaginas cuanto me agradaría que empecemos un proyecto juntos
  </p>
  <a
    href="mailto:Facundojarma@gmail.com"
    class="block w-fit flex justify-center items-center px-12 sm:px-24 py-4 mx-auto mt-12 bg-[#15181F] border border-[#494949] rounded-full text-[#BCBCBC] text-sm sm:text-lg 2xl:text-2xl"
  >
    Facundojarma@gmail.com
  </a>
</section>
