---
import Icon from "./Icon.astro";

---

<footer
  class="grid grid-cols-1 sm:grid-cols-2 place-items-center h-24 border-t border-[#494949] pt-10 sm:p-0"
>
  <div class="h-full flex flex-col justify-center gap-2">
    <h4 class="text-xl">Facundo Jarma</h4>
    <ul class="flex gap-4 m-4 mx-auto sm:m-0">
        <li>
            <a
              href="https://instagram.com/facujarma_"
              class="grid place-items-center h-9 aspect-square bg-[#15181F] border border-[#494949] rounded-full"
            >
              <Icon url="Logos/Instagram" class="w-[20px] h-[20px]"/>
            </a>
          </li>

      <li>
        <a
          href="https://github.com/facujarma"
          class="grid place-items-center h-9 aspect-square bg-[#15181F] border border-[#494949] rounded-full"
        >
          <Icon url="Logos/Github" class="w-[20px] h-[20px]" />
        </a>
      </li>
    </ul>
  </div>

  <ul class="flex gap-4">
    <li><a href="/projectos">Projectos</a></li>
    <li><a href="/certificados">Certificados</a></li>
  </ul>
</footer>
